[Unit]
Description=Dedicated OpenSSH instance for the file drop's SFTP
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/srv/depot

[Service]
Type=notify
ExecStartPre=/usr/sbin/sshd -t -f /etc/ssh/sshd_sftp_config
ExecStart=/usr/sbin/sshd -D -f /etc/ssh/sshd_sftp_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
